# dependencies
node_modules/
.pnp
.pnp.js

# build outputs
dist/
build/
artifacts/
cache/
typechain-types/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# editor
.vscode/
.idea/
*.swp
.DS_Store

# os
Thumbs.db
